p {
    margin: 0;
}
.container, .content {
  display: flex;
  margin: 12px auto 32px;
  padding: 0 16px;
  max-width: 1280px;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 123px;
  width: 259px;
  padding: 16px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .card {
  cursor: pointer;
}

.card-container .card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08)
}

.card__title {
  font-size: 2.2rem;
  color: #497bed;
  font-weight: 800;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__date {
  margin-bottom: 14px;
}

.card__date > small {
  color: grey;
}

.card__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__description{
  font-size: 14px;
  line-height: 1.2;
  margin-right: 6px;
  height: 117px;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  color: #4c4c4c;
  font-weight: 800;
}

.card__img {
  width: auto;
  height: 60px;
  max-width: 160px;
}

button.newsInfo__modifed {
  border: none;
  padding: 11px;
  background: #aaf4ee;
  border-radius: 6px;
  box-shadow: 0px 8px 8px 0px #a5a5a53b;
  width: 132px;
  background: linear-gradient(to right, #aaf4ee 0%, #38d0c4 100%);
  cursor: pointer;
  color: #3a3a3ad9;
  font-size: 16px;
  font-weight: 600;
  margin: 100px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .card-container {
    width: 100%;
  }

  .card {
    height: 16px;
    margin: 8px 0;
  }
}

@media screen and (max-width: 646px) {
  .card-container .card {
    width: 100%;
  }
}

